html {
  font-family: sans-serif;
}

body {
  background-color: rgb(84, 84, 84);
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.form input[type="number"] {
  width: 200px;
}

.lastResult {
  color: white;
  padding: 3px;
}

#container {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 50px;
  padding: 20px;
  box-shadow: 0 0 50px #ccc;
  border-radius: 10px;
  min-height: 30vh;
  overflow: auto;
  width: 600px;
  text-align: center;
}

.guessSubmit {
  background-color: black;
  color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
}

button {
  background-color: black;
  color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
}
